---
import Thumbnail from "../thumbnail.astro";
const { title, description, pubDate, image, url } = Astro.props;

interface Props {
  title: string;
  description: string;
  pubDate: string;
  image: {
    src: string;
    internal: boolean;
  };
  url: string | undefined;
}
---

<a href={url} class="bg-primary-darker p-3 rounded-lg no-underline!">
  <article>
    <figure>
      <Thumbnail
        imgPath={image.src}
        internal={image.internal}
        alt={title}
        loading="lazy"
      />
      <figcaption class="mx-2 mt-4 grid">
        <time class="mb-3 text-xs text-secondary" datetime={pubDate}>
          {pubDate}
        </time>
        <span class="place-self-start font-bold">
          {title}
        </span>
      </figcaption>
    </figure>
    <p class="mx-2 line-clamp-2 text-sm!">
      {description}
    </p>
  </article>
</a>
