---
import Thumbnail from "../thumbnail.astro";
const { title, description, pubDate, image, url } = Astro.props;

interface Props {
  title: string;
  description: string;
  pubDate: string;
  image: {
    src: string;
    internal: boolean;
  };
  url: string | undefined;
}
---

<a
  href={url}
  class="bg-primary-darker p-3 rounded-lg no-underline! hover:bg-primary-lighter hover:border-border-color border border-transparent hover:text-accent!">
  <div>
    <Thumbnail
      imgPath={image.src}
      internal={image.internal}
      alt={title}
      loading="lazy"
    />
    <div class="mt-4">
      <div class="flex justify-between mb-4">
        <p class="font-bold not-prose">
          {title}
        </p>
        <time class="mb-2 text-xs" datetime={pubDate}>
          {pubDate}
        </time>
      </div>
      <p class="line-clamp-2 text-sm! not-prose">
        {description}
      </p>
    </div>
  </div>
</a>
